h1{
  background-color: #47C9AF;
  color:white;

}
#mae{
  background-color: #ECF0F1;
  padding-top: 5px;
	padding-bottom: 10px;
	text-align: center;
	left: 50%;
  position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
}
#opa{
  background-color: #e9866e;
  width: 100%;
  height: 120px;
  align-items: center;

}
h3{
  text-align: center;
  color: white;
}
ul{
  text-align: center;
  background-color: #4ec8af;
  color:white;
}
